@page "/produtos/novo"
@using EcommerceFrontBlazor.Models.ProdutoModels
@using EcommerceFrontBlazor.Services
@inject ProdutoService ProdutoService
@inject NavigationManager NavigationManager

<h3>Cadastrar Novo Produto</h3>

<EditForm Model="produto" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Nome:</label>
        <InputText class="form-control" @bind-Value="produto.Nome" />
    </div>

    <div class="form-group">
        <label>Descrição:</label>
        <InputText class="form-control" @bind-Value="produto.Descricao" />
    </div>

    <div class="form-group">
        <label>Preço:</label>
        <InputNumber class="form-control" @bind-Value="produto.Preco" />
    </div>

    <div class="form-group">
        <label>Estoque:</label>
        <InputNumber class="form-control" @bind-Value="produto.Estoque" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
    <button type="button" class="btn btn-secondary mt-3 ms-2" @onclick="Voltar">
        Voltar
    </button>

</EditForm>

@code {
    private Produto produto = new Produto();

    private async Task HandleValidSubmit()
    {
        await ProdutoService.CreateProdutoAsync(produto);
        NavigationManager.NavigateTo("/produtos");
    }
    private void Voltar()
    {
        NavigationManager.NavigateTo("/produtos");
    }

}
