h2 {
    font-weight: bold;
    color: #333;
  }
  
  .table td,
  .table th {
    vertical-align: middle;
    padding: 10px;
  }

  th{
    background-color: #a4c8d3cc;
  }

  .table-striped > tbody > tr:nth-of-type(odd) td {
    background-color: #e8ecec80;
  }
  
  
  .table-hover tbody tr:hover td {
    background-color: #a9c8ce5b;
  }
  